.fullpicture-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-around;
}

.fullpicture-container div {
  width: 100%;
  text-align: center;
}

.fullpicture-container div img {
  max-width: 100%;
}


.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 20px);
}
.inner {
}
