<!-- Conteneur principal  -->
<div class="container" [class.is-mobile]="mobileQuery.matches">

  <!-- Barre de titre + bouton d'ouverture de menu -->
  <mat-toolbar color="primary" class="toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="app-name">{{titre}}</h1>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="'over'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <a mat-list-item [routerLink]="['']" routerLinkActive="mat-accent"><mat-icon>videocam</mat-icon>Direct</a>
        <a mat-list-item ><mat-icon>calendar_today</mat-icon>Archives</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>

</div>
