<h1 mat-dialog-title>Recherche</h1>
<div mat-dialog-content>
  <!-- <mat-form-field>
    <mat-label>Choisir une date</mat-label>
    <input matInput [(ngModel)]="data.test">
  </mat-form-field> -->

  <mat-form-field appearance="fill">
    <mat-label>Choisir une date</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="data.date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker touchUi #picker></mat-datepicker>
  </mat-form-field>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Annuler</button>
  <button mat-button [mat-dialog-close]="data.date" cdkFocusInitial>OK</button>
</div>
